		<!-- BLOC DU BAS -->
		<div class="menu-bottom">
			{copyright} | {design}
		</div>
		<!-- FIN BLOC DU BAS -->
		<script type="text/javascript">
			$("#slideshow").craftyslide();
		</script>
	</body>
</html>