<br />
			<div id="slideshow">
				<ul>
				  <li>
					<img src="Images/fly/internet.jpeg" alt="internet" title="internet le web 2.0" />
				  </li>
				  
				  <li>
					<img src="Images/fly/php.jpeg" alt="Php" title="langage PHP" />
				  </li>                       
				</ul>
			</div>