@media screen and (min-width:1601px) and (max-width: 1920px)
{
	div.corp
	{
		min-height:700px;
	}

	div.bd
	{
		min-height:600px;
	}
}

@media screen and (min-width:1348px) and (max-width: 1600px)
{
	div.corp
	{
		min-height:500px;
	}

	div.bd
	{
		min-height:400px;
	}
}

@media screen and (min-width:980px) and (max-width: 1347px)
{
	div.corp
	{
		min-height:1000px;
	}

	div.bd
	{
		min-height:900px;
	}
}

@media screen and (min-width:800px) and (max-width: 979px)
{
	div.corp
	{
		min-height:1000px;
	}

	div.bd
	{
		min-height:900px;
	}
}