/*
 * =================
 * CSS : default
 * =================
 *
 * Tous droit reserver pour mandalorien
 * 
 */

/* Structure principal */
/* Structure principal */
html
{
	font-family: Verdana;/* la police du texte */
	background:url('Images/HexagonTexture.jpeg') center top #000;
	background-repeat:repeat-z;
}

body
{
	text-align:center;
	color:#fff;
	margin:0;
	padding:0;
}

h1
{
	font-family: candara;
	text-transform: capitalize;
	text-decoration:none;
	font-size: 18px;
	letter-spacing: 1px;
	color: #212121;
}
	
h2
{
	font-family: candara;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1px;
	color: #212121;
}
	
label
{
	font-family:candara;
	color:#222;
	text-decoration:none;	
}

div.footer
{
	margin-left:50px;
	margin-right:50px;
	margin-bottom:50px;
	min-height:25px;
	background:#111;
	border:1px solid #000;
	/* contour arrondie */
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	/* ombrage */
	-moz-box-shadow : 0px 0px 8px #000; 
	-webkit-box-shadow : 0px 0px 8px #000;
	box-shadow : 0px 0px 8px #000;
}

div.footer div,div.footer div a,div.menu-bottom
{
	font-family:candara;
	color:#777;
	text-decoration:none;
}

div.footer div a:hover{
	color:#999;
}

div.menu-bottom
{
	background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	z-index:4px;
	bottom:0;
	position:fixed;
	left:0;
	width:100%;
	height:40px;
	border-top:1px solid #333;
}